/* @import './components/HomePage/_modal.scss'; */

.box-shadow{
    box-shadow: .5px .5px 2px 2px rgb(66, 66, 66);
}
.grid-template-column{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.order_separation{
    order: 0;
}

@media (max-width: 1000px){
    .order_separation{
        order: -1;
    }
}